In [ ]:
import sys
!conda install --yes --prefix {sys.prefix} asammdf

Solving environment: -

In [8]:
from asammdf import MDF
import pandas as pd
import numpy as np

In [9]:
mdf = MDF()
df = pd.DataFrame.from_dict({'s1': np.array([1, 2, 3, 4, 5]), 's2': np.array([-1, -2, -3, -4, -5])})
units = {'s1': 'V', 's2': 'A'}
mdf.append(df, units=units)
mdf.save('out.mf4', overwrite=True)

PosixPath('out.mf4')

In [11]:
mdf.to_dataframe()

      s1  s2
time
0.0    1  -1
1.0    2  -2
2.0    3  -3
3.0    4  -4
4.0    5  -5